.main-about {
    display: flex;
    align-items: center;
    padding: 50px;
    text-align: center;
    padding-left: 250px;
  }
  
  .img-container {
    margin-right: 20px; 
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }
  
  .details {
    font-size: 18px;
  }
  
  .details h1 {
    font-size: 22px;
  }
  
  .details-counter {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  
  .btn-cv {
    background-color: blue;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    outline: none;
    color: white;
    cursor: pointer;
  }

p{
    text-align:left;
}
.big-number {
    font-size: 28px;
  }