.main-about {
    display: flex;
    align-items: center;
    padding: 50px;
    text-align: center;
    padding-left: 250px;
  }
  
  .img-container {
    margin-right: 20px; 

  }
img2{
  width: 20%;
}
  
  .details-container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding-left: 250px;
  }
  
  .details {
    font-size: 15px;
    font-family:sans-serif, 'Poppins';
    opacity: 90%;
  }
  
  .details h1 {
    font-size: 22px;
  }
  
  .details-counter {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  
  .btn-cv {
    background-color: blue;
    width: 180px;
    height: 40px;
    margin-top: 20px;
    outline: none;
    color: white;
    cursor: pointer;
  }

p{
    text-align:left;
}
.big-number {
    font-size: 15px;
  }