body{
  margin: 0;
  padding: 0;
  font-family: sans-serif, 'Poppins';
  background-color: #161927;
  color: white;
}

.navbar {
  font-family:sans-serif, 'Poppins';
  font-size: 14px;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
 justify-content: space-around;
  align-items: center;
  padding: 20px;
  z-index: 1000; /*avbar stays on top of other content */
}


.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #3c4a91;
}
